<link rel="stylesheet" href="/css/footer.css">

<div class="card footer">
    <div class="card-body">
      <strong>&#169;</strong> All Rights Reserved
      <footer>
        <cite>&#8213;Amit Vishwakarma</cite>
      </footer>
    </div>
  </div>